h1 {
    font-family: 'Sen', sans-serif;
    text-align: center; 
    color: white; 
    font-size: 100px;
    font-weight: normal;
}

h2 {
    font-family: 'Sen', sans-serif;
    text-align: center; 
    color: white; 
    font-size: 40px;
    font-weight: normal;
}

h3 {
    font-family: 'Sen', sans-serif;
    text-align: center; 
    color: white; 
    font-size: 30px;
    font-weight: normal;
}

.centre {
    margin: auto;
    border: 3px solid white;
    border-radius: 30px;
    padding: 10px;
    transition: width 1s;
}


.element_search_container {
    width: 60%;
    max-width: 700px;
    display: grid;
    grid-template-columns: auto 55px;
    grid-template-rows: 50px;    
}

.element_search_container > input[type=text] {
    grid-column: 1;
    border: none;
    border-radius: 25px 0px 0px 25px;
    padding-left: 30px;
    outline: none;
    font-size: 20px;
}

.element_search_container > img {
    grid-column: 2;
    height: 40px;
    background-color: white; /* rgb(233, 219, 219);*/
    padding-top: 5px;
    padding-bottom: 5px;;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 0px 25px 25px 0px;
}


.periodic_table {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 25px 50px 50px;
    grid-gap: 5px;
    justify-content: center;
}

.filler_btn-1 {
    grid-row: 1;
    grid-column: 2 / span 16;
}

.filler_btn-2 {
    grid-row: 2 / span 2;
    grid-column: 3 / span 10;
}

.filler_btn-3 {
    grid-row: 6 / span 2;
    grid-column: 3;
}

.filler_btn-4 {
    grid-row: 9 / span 2;
    grid-column: 1 / span 2;
}

.lower {
    grid-column: 1 / span 18;
}

.grid_container > button {
    padding: 0px 2px 0px 0px;
}

.void_btn {
    opacity: 0%;
}

.element {
    width: 50px;
    height: 50px;
    outline: none;
    background-color: #fbff00;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    transition-duration: 0.25s;
}

.element:hover {
    background-color: white;
    color: #fbff00;
    border-radius: 0px;
}

.liquid {
    border: 3px solid white;
}

.alkali_metals {
    background-color: red;
    color: white;
}
.alkali_metals:hover { color: red; }

.alkaline_earth_metals {
    background-color: #9966ff;
    color: white;
}
.alkaline_earth_metals:hover { color: #9966ff; }

.metaux_pauvres {
    background-color: #80FF00;
}
.metaux_pauvres:hover { color: #80FF00; }

.metalloid {
    background-color: rgb(255, 187, 0);
}
.metalloid:hover { color: rgb(255, 187, 0); }

.non-metals {
    background-color: cyan;
}
.non-metals:hover { color: cyan; }

.noble {
    background-color: rgb(171, 0, 187);
    color: white;    
}
.noble:hover { color: rgb(199, 0, 156); }

.lanthanoid {
    background-color: #5900b3;
    color: white;
}
.lanthanoid:hover { color: #5900b3; }

.actinoid {
    background-color: #000099;
    color: white;
}
.actinoid:hover { color: #000099; }

.unknown {
    background-color: rgb(73, 73, 73);
    color: white;
}
.unknown:hover { color: rgb(194, 194, 194); }

.modal_content {
    margin:auto;
    position:relative;
    padding:10px;
    outline:0;
    width: 719px;
    border-radius: 15px;
    background-color:rgb(22, 54, 114);
    color: white;
    border:4px solid white;
    font-family: 'Rubik', sans-serif;
}

#element_pop-up {
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0; top:0; 
    width:100%; height:100%; /* mute entire screen */
    overflow:auto; 
    background-color:rgba(0,0,0,0.2);
    
}


.grid-container {
    display: inline-grid;
    width: 705px;
    height: 375px;
    grid-template-columns: 30% 52% 11%;
    /* grid-template-columns lets you say how wide 
        & the number of columns. If you want two columns,
        then enter two values. If you want them to be a
        specific width, enter the number of pixels.
        */
    grid-template-rows: 12% 17% 30% 32%;
    grid-gap: 3%;
    padding: 10px;
}

.item1 {
    grid-column: 1 / span 2;
    font-size: 40px;
    font-family: 'Sen', sans-serif;
    color: white;
    padding-left: 30px;
}
.item2 {
    grid-column: 3;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 27px;
    border-radius: 20px;
    outline: none;
    float: right;
}
.item2:hover {
    background-color: rgb(233, 0, 0);
}

.item3 {
    grid-row: 2 / span 3;
    width: 100%;
}
.item4 {
    grid-row: 2 / span 2;
}
.item5 {
    grid-row: 2;
    width: 80px;
    border-radius: 50px;
}
.item6 {
    grid-row: 3;
    grid-column: 3;
    opacity: 0;
}
.item7 {
    grid-column: 2 / span 2;
}

#hydrogen {
    background-color: red;
    color: white;
}
#hydrogen:hover { 
    background-color: white;
    color: red; }