body {
    margin: 0px;
    background-color: rgb(63, 163, 245);
}

h1 {
    margin:0;
    padding: 20px 0px 40px 0px;
    font-family: 'Sen', sans-serif;
    text-align: center; 
    color: white; 
    font-size: 100px;
    font-weight: normal;
}

h2 {
    font-family: 'Sen', sans-serif;
    text-align: center; 
    color: white; 
    font-size: 40px;
    font-weight: normal;
}

h3 {
    font-family: 'Sen', sans-serif;
    text-align: center; 
    color: white; 
    font-size: 30px;
    font-weight: normal;
    margin-top:0;
}

.centre {
    margin: auto;
    border: 3px solid white;
    border-radius: 30px;
    padding: 25px 0px;
    transition: width 1s;
}

#element_search_container {
    width: 90%;
    max-width: 700px;
    display: grid;
    grid-template-columns: auto 55px;
    grid-template-rows: 50px;    
    padding-bottom: 0px;
}

#element_search_container > input[type=text] {
    min-width: 150px;
    max-width: 645px;
    height: 50px;
    grid-column: 1;
    border: none;
    border-radius: 25px 0px 0px 25px;
    padding-left: 30px;
    outline: none;
    font-size: 20px;
}

#element_search_container > img {
    grid-column: 2;
    height: 40px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 0px 25px 25px 0px;
}

#search_type_accordian {
    width: 90%;
    max-width: 700px;
    padding: 10px 0px;
}
.accordion {
    display: none;
    width: 100%;
    background-color: transparent;
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    outline: none;
    border: 3px solid white;
    border-radius: 25px;
    padding: 10px;
}
#acc_dt {
    display: block;
}
.active {
    border-radius: 25px 25px 0px 0px;
    background-color: white;
    color: black;
} 

.accordion:hover {
    background-color: white;
    color: black;
}

.panel {
    background-color: transparent;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    display: none;
    overflow: hidden;
    border: 3px solid white;
    border-top: none;
    border-radius: 0px 0px 25px 25px;
}
.panel > div {
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.panel > div:hover  {
    background-color: white;
    color: black;
}
#search_type_grid {
    display: none;
}

.slider_div {
    display: none;
    max-width: 700px;
    width: 90%;
    margin: auto;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    border-radius: 15px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.466);
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 40px; /* Set a specific slider handle width */
    height: 40px; /* Slider handle height */
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 40px; /* Set a specific slider handle width */
    height: 40px; /* Slider handle height */
    border: none;
    background: white;
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }
.slider_div > p {
    background-color: transparent;
    font-family: 'Sen', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 5px 0px;
}

.element {
    font-family: 'Sen', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 10px 0px;
    color: white;
    outline: none;
    cursor: pointer;
}

#periodic_table {
    width: 98%;
    max-width: 400px;
    margin-bottom: 50px;
}
#mobile-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2px;
}
#desktop-grid { display: none; }

#element_pop-up {
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0; top:0; 
    width:100%; height:100%; /* mute entire screen */
    overflow:auto; 
    background-color:rgba(0,0,0,0.2);
}
#no_results {
    background-color: white;
    display: block;
    width: 80%;
}
#no_results > h2 {color: black;}
.modal_content {
    width: 100%;
    border-radius: 30px;
    background-color: white;
    font-family: 'Sen', sans-serif;
    color: rgb(63, 163, 245);
}
.grid-container {
    display: grid;
    width: 96%;
    padding: 2%;
    grid-template-columns: 1fr 50px;
    grid-gap: 5px;
}
.item1 {
    grid-column: 1;
    font-size: 40px;
    padding-left: 30px;
}
.item2 {
    grid-column: 2;
    background-color: transparent;
    font-size: 27px;
    width: 50px;
    color: white;
    border:3px solid rgb(41, 142, 224);
    background-color: rgb(63, 163, 245);
    border-radius: 50%;
}
.item2:hover {
    cursor: pointer;
}
.item3 {
    display: none;
}
.item4 {
    font-size: 20px;
    grid-column: 1 / span 2;
    text-align: center;
}
.item5 {
    display: none;
    height: 0px;
}
.item7 {
    grid-column: 1 / span 2;
    padding: 10px;
}


#properties_menu {margin-bottom: 30px;}
#properties_menu > button {
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 17px;
    text-align: center; 
    background-color: transparent;
    padding: 10px;
    width: 80%;
    display: block;
    margin: 10px auto;
    outline: none;
    border: 3px solid white;
    border-radius: 30px;
}

.element {
    background-color: rgb(21, 49, 85);
}
.element:hover {
    color: rgb(21, 49, 85);
    background-color: white;
}
.alkali_metals { background-color: rgb(223, 0, 0); }
.alkali_metals:hover { color: rgb(201, 0, 0); }
.alkaline_earth_metals { background-color: rgb(219, 66, 6); }
.alkaline_earth_metals:hover { color: rgb(110, 37, 9); }
.metaux_pauvres { background-color: rgb(5, 148, 5); }
.metaux_pauvres:hover { color: rgb(0, 133, 0); }
.metalloid { background-color: rgb(0, 179, 90); }
.metalloid:hover { color: rgb(0, 121, 64); }
.non-metals { background-color: #7c4cdb; }
.non-metals:hover { color: #5e4099; }
.noble_gas { background-color: rgb(99, 0, 124); }
.noble_gas:hover { color: rgb(126, 0, 98); }
.lanthanoid { background-color: #5900b3; }
.lanthanoid:hover { color: #5900b3; }
.actinoid { background-color: #000099; }
.actinoid:hover { color: #000099; }
.unknown { background-color: rgb(34, 34, 34); }
.unknown:hover { color: rgb(34, 34, 34); }

.nav-btn {
    display: block;
    margin: auto;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 30px;
    font-family: 'Sen', sans-serif;
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
    padding: 5px 50px;
    outline: none;
}
.nav-btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

#pipers {
    background-color: white;
    display: block;
    margin: 10px auto;
    padding: 20px 70px;
    border-radius: 60px;
}

@media only screen and (min-width: 330px) {
    #periodic_table {
        width: 98%;
    }
    #mobile-grid {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-gap: 4px;
    }
    .centre {
        padding: 30px 0px;
    }
    .element {
        padding: 10px 0px;
        font-size: 17px;
    }
    
}

@media only screen and (min-width: 460px) {
    .centre {
        padding: 30px 15px;
    }
    .element {
        padding: 12px 0px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 650px) {
    body {
        margin: 0px;
        background-image: radial-gradient(#66c2ff, #4585fc);
    }

    .centre {
        padding: 30px 0px;
    }
    .element {
        font-size: 16px;
        padding: 10px 0px;
    }

    #periodic_table {
        width: 98%;
        max-width: 900px;
    }
    #mobile-grid {display: none;}
    #desktop-grid {
        display: grid;
        grid-template-columns: repeat(18, 1fr);
        grid-gap: 2px;
    }
    #no_results {
        z-index:3;
        position: absolute;
        top: 500px;
        width: 60%;
        display: block;
        left: 20%;
        box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.507);
    }
    
}
@media only screen and (min-width: 740px) {
    .modal_content {
        width: 720px;
        border-radius: 30px;
        background-color:rgb(23, 131, 255);
        color: white;
        border:5px solid white;
        font-family: 'Sen', sans-serif;
        margin: auto;
        box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.507);
    }

    .grid-container {
        display: grid;
        width: 710px;
        grid-template-columns: 250px 1fr 100px;
        grid-gap: 5px;
        margin: 5px;
        margin-bottom: 20px;
        padding: 0px;
    }

    .item1 {
        grid-column: 1 / span 2;
        font-size: 40px;
        /* font-family: 'Sen', sans-serif; */
        color: white;
        padding-left: 50px;
    }
    .item2 {
        grid-column: 3;
        color: white;
        background-color: transparent;
        border: none;
        font-size: 27px;
        border-radius: 25px;
        outline: none;
        margin-left: 40%;
        width: 50%;
    }
    .item2:hover {
        transition-duration: 0.3s;
        background-color: rgb(10, 89, 194);
    }
    
    .item3 {
        display: block;
        grid-row: 2 / span 2;
        padding-left: 20px;
        width: 230px;
    }
    .item4 {
        grid-column: 2;
        grid-row: 2;
        text-align: left;
        font-size: 17px;
        padding-left: 10px;
    }
    .item5 {
        display: block;
        grid-column: 3;
        grid-row: 2;
        width: 80px;
        height: auto;
        border-radius: 50px;
        margin-left: 10px;
    }
    .item6 {
        grid-row: 3;
        grid-column: 3;
        opacity: 0;
    }
    .item7 {
        grid-column: 2 / span 2;
    }
    .mobile_radioactive_indictaion {
        display: none;
    }
}
@media only screen and (min-width: 800px) {
    #desktop-grid {
        grid-gap: 3px;
    }
    .element {
        font-size: 18px;
    }

    #search_type_accordian {
        display: none;
    }

    #search_type_grid, #properties_menu {
        width: 90%;
        max-width: 700px;
        display: grid;    
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
        margin-bottom: 0px;
    }
    #properties_menu {margin-bottom: 50px;}
    #search_type_grid > button, #properties_menu > button {
        color: white;
        font-family: 'Sen', sans-serif;
        font-size: 17px;
        text-align: center; 
        background-color: transparent;
        padding: 10px;
        outline: none;
        border: 3px solid white;
        border-radius: 30px;
    }

    #properties_menu > button {width: 90%;}
    
    #search_type_grid > button:hover, #properties_menu > button:hover {
        color: black;
        background-color: white;
        cursor: pointer;
    }
    
    #search_type_grid > button:active, .nav-btn:active {
        transform: translateY(2px);
    }

    #search_type_grid > .selected, #properties_menu > .selected {
        background-color: white;
        color: black;
    }

    #periodic_table > button:hover {
        transition-duration: 0.3s;
        transform: translate(0px, -2px);
        box-shadow: 3px 7px 5px rgba(32, 32, 32, 0.466);
    }
}

@media only screen and (min-width: 950px) {
    #desktop-grid {
        grid-gap: 4px;
    }
    .centre {
        padding: 20px 7px;
    }
    .element {
        padding: 10px 0px;
        border-radius: 7px;
        font-size: 20px;
        
    }
}

@media only screen and (min-width: 1035px) {
    .centre {
        padding: 20px;
    }
    .element {
        border-radius: 10px;
        font-size: 25px;
    }
    #periodic_table {
        max-width: 970px;
        grid-gap: 5px;
    }
    .nav-btn { width: 300px; }
}

/* and (min-height: 815px) */
@media only screen and (min-width: 1350px)  {

    body {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 65px 50px repeat(12, 60px);
    }

    #header > h1 { display: none; }
    #header > h2 { font-size: 3em; }
    #header > h3 { font-size: 2em; }
    #header {grid-row: 1 / 3;}

    .slider {
        border-radius: 15px;
        height: 15px;
        margin-top: 10px;
    }
    .slider::-webkit-slider-thumb {
        width: 30px; /* Set a specific slider handle width */
        height: 30px; /* Slider handle height */
    }
    .slider::-moz-range-thumb {
        width: 30px; /* Set a specific slider handle width */
        height: 30px; /* Slider handle height */
      }
    .slider_div > p {
        font-size: 25px;
    }
    
    #periodic_table { 
        padding: 10px 5px; 
        border-radius: 20px;
        margin-bottom: none;
    }

    #element_search_container {
        padding-top: 10px;
    }

    #search_type_grid {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 0px;
        padding-bottom: 10px;
    }

    #search_type_grid > button {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .desktop-left-col {
        grid-column: 1;
    }
    .desktop-right-col {
        grid-column: 2;
    }
    
    #header > h1 {
        padding-bottom: 0px;
    }
    #element_search_container {grid-row: 1;}
    .nav-btn {
        width: 90%;
    }
    #no_results {
        right: -10%;
        width: 50%;
        display: block;
        margin: auto;
        top: 250px;
    }
    #fltr_btn {grid-row: 4;}
    #quiz_btn {grid-row: 5;}
    #myst_btn {grid-row: 6;}
    #abou_btn {grid-row: 7;}
    #help_btn {grid-row: 8;}

    #properties_menu {
        /* display: none; */
        grid-row: 12;
        max-width: 990px;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 5px;
        margin: auto;
        border: none;
        padding-bottom: 0px;
        padding-top:5px;
    }
    #properties_menu > button {
        margin-top: 0px;
    }
    #pipers {
        grid-row: 9;
        margin-bottom: none;
        border-bottom: none;
        padding-bottom: none;
    }
}
@media only screen and (min-width: 1350px) and (min-height: 892px) {

    body {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 70px 86px repeat(8, 70px);
    }

    #search_type_grid {
        margin-top: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #periodic_table {
        padding: 20px 5px;
    }

    .desktop-left-col {
        grid-column: 1;
    }
    .desktop-right-col {
        grid-column: 2;
    }
    #header {
        grid-row: 1 / 4;
    }
    #header > h1 {
        padding-bottom: 0px;
    }
    #element_search_container {grid-row: 1;}
    .nav-btn {
        width: 90%;
    }
    #quiz_btn {grid-row: 5;}
    #myst_btn {grid-row: 6;}
    #abou_btn {grid-row: 7;}
    #help_btn {grid-row: 8;}
    
    #properties_menu {
        grid-row: 11;
        max-width: 990px;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 5px;
        margin: auto;
        border: none;
        padding-bottom: 0px;
        padding-top:5px;
    }
    #pipers {
        grid-row: 9;
    }

}
@media only screen and (min-width: 1395px) and (min-height: 825px) {
    body {
        /* grid-template-columns: 30% 70%; */
        margin-top: 1% ;
    }
    .nav-btn {max-width: 400px;}
    
}
@media only screen and (min-width: 1470px)  {
    
    #periodic_table {
        padding: 20px;
    }
    /* #periodic_table {margin-left: 1%;} */
}