body {
    margin: 0px;
    background-color: rgb(63, 163, 245);
    font-family: 'Sen', sans-serif;
    color: white; 
}

h1 {
    margin:0;
    padding: 20px 0px 40px 0px;
    text-align: center; 
    color: white; 
    font-size: 100px;
    font-weight: normal;
}

h2 {
    text-align: center; 
    font-size: 40px;
    font-weight: normal;
}

h3 {
    text-align: center; 
    font-size: 30px;
    font-weight: normal;
    margin-top:0;
}

#content {
    width: 90%;
    margin: auto;
    margin-bottom: 200px;
}

a {
    color: white;
    /* text-decoration: none; */
}

#pipers {
    background-color: white;
    display: block;
    margin: 10px auto;
    padding: 20px 70px;
    border-radius: 60px;
}
#pipers:hover {
    cursor: pointer;
}
button {
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 1.5em;
    text-align: center; 
    background-color: transparent;
    display: block;
    margin: 50px auto 75px auto;
    outline: none;
    border: 3px solid white;
    padding: 10px 60px;
    border-radius: 50px;
}
button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
button:active {transform: translateY(2px);}

@media only screen and (min-width: 650px) {
    body {
        margin: 0px;
        background-image: radial-gradient(#56b5f5, #4585fc);
    }
    #content {
        width: 80%;
        max-width: 800px;
        margin: auto;
        font-size: 1.25em;
        margin-bottom: 200px;
    }
}