#atom-graphics {
    height: 220px;
}
#atom {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    margin: auto;
    /* width: 300px; */
    margin-top: 20px;
    margin-bottom: 20px;
}
.electron {
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 162, 255);
    box-shadow: 0 0 7px rgb(0, 162, 255);
    z-index: 1;
    transition: 0.5s;
}
.d-electr {
    width: 15px;
    height: 15px;
}
#electron-1 { animation: ORBIT 3s infinite linear; }
#electron-2 { animation: ORBIT-2 3s infinite linear; }

#electron-3 { animation: ORBIT-3 5s infinite linear; }
#electron-4 { animation: ORBIT-4 5s infinite linear; }
#electron-5 { animation: ORBIT-5 5s infinite linear; }
#electron-6 { animation: ORBIT-6 5s infinite linear; }

#electron-3a { animation: ORBIT-3A 5s infinite linear; }
#electron-4a { animation: ORBIT-4A 5s infinite linear; }
#electron-5a { animation: ORBIT-5A 5s infinite linear; }
#electron-6a { animation: ORBIT-6A 5s infinite linear; }
#electron-7 { animation: ORBIT-7 5s infinite linear; }
#electron-8 { animation: ORBIT-8 5s infinite linear; }
#electron-9 { animation: ORBIT-9 5s infinite linear; }
#electron-10 { animation: ORBIT-10 5s infinite linear; }

#d-elctr-1 { animation: ORBIT-D1 5s infinite linear; }
@keyframes ORBIT-D1 { 
	0% {
		transform: rotate(0deg) translateY(-100px) translateX(10px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateY(-100px) translateX(10px) rotate(-360deg);
	}
}
#d-elctr-2 { animation: ORBIT-D2 5s infinite linear; }
@keyframes ORBIT-D2 { 
	0% {
		transform: rotate(0deg) translateY(-100px) translateX(-10px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateY(-100px) translateX(-10px) rotate(-360deg);
	}
}
#d-elctr-3 { animation: ORBIT-D3 5s infinite linear; }
@keyframes ORBIT-D3 { 
	0% {
		transform: rotate(0deg) translateY(calc(-10px + -100px * sin(18deg))) translateX(calc(-5px + 100px * cos(18deg))) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateY(calc(-10px + -100px * sin(18deg))) translateX(calc(-5px + 100px * cos(18deg))) rotate(-360deg);
	}
}
#d-elctr-4 { animation: ORBIT-D4 5s infinite linear; }
@keyframes ORBIT-D4 { 
	0% {
		transform: rotate(0deg) translateY(calc(10px + -100px * sin(18deg))) translateX(calc(5px + 100px * cos(18deg))) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateY(calc(10px + -100px * sin(18deg))) translateX(calc(5px + 100px * cos(18deg))) rotate(-360deg);
	}
}
#d-elctr-5 { animation: ORBIT-D5 5s infinite linear; }
@keyframes ORBIT-D5 { 
	0% {
		transform: rotate(0deg) translateY(calc(-10px + -100px * sin(18deg))) translateX(calc(5px + -100px * cos(18deg))) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateY(calc(-10px + -100px * sin(18deg))) translateX(calc(5px + -100px * cos(18deg))) rotate(-360deg);
	}
}
#d-elctr-6 { animation: ORBIT-D6 5s infinite linear; }
@keyframes ORBIT-D6 { 
	0% {
		transform: rotate(0deg) translateY(calc(10px + -100px * sin(18deg))) translateX(calc(-5px + -100px * cos(18deg))) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateY(calc(10px + -100px * sin(18deg))) translateX(calc(-5px + -100px * cos(18deg))) rotate(-360deg);
	}
}
#d-elctr-7 { animation: ORBIT-D7 5s infinite linear; }
@keyframes ORBIT-D7 { 
	0% {
		transform: rotate(0deg) translateY(calc(-8px + 100px * cos(36deg))) translateX(calc(8px + 100px * sin(36deg))) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateY(calc(-8px + 100px * cos(36deg))) translateX(calc(8px + 100px * sin(36deg))) rotate(-360deg);
	}
}
#d-elctr-8 { animation: ORBIT-D8 5s infinite linear; }
@keyframes ORBIT-D8 { 
	0% {
		transform: rotate(0deg) translateY(calc(8px + 100px * cos(36deg))) translateX(calc(-8px + 100px * sin(36deg))) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateY(calc(8px + 100px * cos(36deg))) translateX(calc(-8px + 100px * sin(36deg))) rotate(-360deg);
	}
}
#d-elctr-9 { animation: ORBIT-D9 5s infinite linear; }
@keyframes ORBIT-D9 { 
	0% {
		transform: rotate(0deg) translateY(calc(8px + 100px * cos(36deg))) translateX(calc(8px + -100px * sin(36deg))) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateY(calc(8px + 100px * cos(36deg))) translateX(calc(8px + -100px * sin(36deg))) rotate(-360deg);
	}
}
#d-elctr-10 { animation: ORBIT-D10 5s infinite linear; }
@keyframes ORBIT-D10 { 
	0% {
		transform: rotate(0deg) translateY(calc(-8px + 100px * cos(36deg))) translateX(calc(-8px + -100px * sin(36deg))) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateY(calc(-8px + 100px * cos(36deg))) translateX(calc(-8px + -100px * sin(36deg))) rotate(-360deg);
	}
}


#s-elctr-1 { animation: ORBIT-S1 6s infinite linear; }
@keyframes ORBIT-S1 { 
	0% {
		transform: rotate(0deg) translateY(-125px) translateX(0px) rotate(0deg);
	}
	100% {
		transform: rotate(-360deg) translateY(-125px) translateX(0px) rotate(360deg);
	}
}

#s-elctr-2 { animation: ORBIT-S2 6s infinite linear; }
@keyframes ORBIT-S2 { 
	0% {
		transform: rotate(0deg) translateY(125px) translateX(0px) rotate(0deg);
	}
	100% {
		transform: rotate(-360deg) translateY(125px) translateX(0px) rotate(360deg);
	}
}

#nucleus {
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    width: 40px;
    height: 40px;
    background-color: rgb(212, 13, 13);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.noble_gas-nucleus      { background-color: blueviolet !important; }
.alkali-metal-nucleus   { background-color: orange !important; }
.transition-metal-nucleus { background-color: rgb(255, 230, 0) !important; }
.unknown-nucleus { background-color: rgb(32, 32, 32) !important; }

#ionic-charge {
    z-index: 2;
    grid-row: 1;
    grid-column: 1;
    text-align: right;
    margin-right: 8px;
    font-size: 1.3em;
    color: white;
    /* color: rgb(212, 13, 13); */
}
#ionic-charge-anti-border {
    z-index: 2;
    grid-row: 1;
    grid-column: 1;
    height: 30px;
    width: 25px;
    border-top: 2px solid rgb(97, 97, 97);
    border-right: 2px solid rgb(97, 97, 97);
    margin-left: 255px;
    margin-top: 27px;
}
.alkali-metal-txt { color: orange !important; }
.ghost {
    background-color: transparent;
    border: none !important;
    color: #ffffff; 
    color: rgba(255, 255, 255, 0) !important;
    box-shadow: none;
}

@keyframes ORBIT { 
    0% { 
        transform: rotate(0deg) translateY(100px) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg) translateY(100px) rotate(-360deg); 
    }
}
@keyframes ORBIT-2 { 
    0% { 
        transform: rotate(0deg) translateY(-100px) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg) translateY(-100px) rotate(-360deg); 
    }
}
@keyframes ORBIT-3 { 
    0% { 
        transform: rotate(0deg) translateY(125px) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg) translateY(125px) rotate(-360deg); 
    }
}
@keyframes ORBIT-4 { 
    0% { 
        transform: rotate(0deg) translateY(-125px) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg) translateY(-125px) rotate(-360deg); 
    }
}
@keyframes ORBIT-5 { 
    0% { 
        transform: rotate(0deg) translateX(125px) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg) translateX(125px) rotate(-360deg); 
    }
}
@keyframes ORBIT-6 { 
    0% { 
        transform: rotate(0deg) translateX(-125px) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg) translateX(-125px) rotate(-360deg); 
    }
}
@keyframes ORBIT-3A { 
    0% { 
        transform: rotate(0deg) translateY(125px) translateX(20px) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg) translateY(125px) translateX(20px) rotate(-360deg); 
    }
}
@keyframes ORBIT-4A { 
    0% { 
        transform: rotate(0deg) translateY(125px) translateX(-20px) rotate(0deg);
    } 
    100% { 
        transform: rotate(360deg) translateY(125px) translateX(-20px) rotate(-360deg);
    }
}
@keyframes ORBIT-5A { 
    0% { 
        transform: rotate(0deg) translateY(-125px) translateX(20px) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg) translateY(-125px) translateX(20px) rotate(-360deg); 
    }
}
@keyframes ORBIT-6A { 
    0% { 
        transform: rotate(0deg) translateY(-125px) translateX(-20px) rotate(0deg);
    } 
    100% { 
        transform: rotate(360deg) translateY(-125px) translateX(-20px) rotate(-360deg);
    }
}

@keyframes ORBIT-7 { 
    0% { 
        transform: rotate(0deg) translateY(20px) translateX(125px) rotate(0deg);
    } 
    100% { 
        transform: rotate(360deg) translateY(20px) translateX(125px) rotate(-3600deg);
    }
}
@keyframes ORBIT-8 { 
    0% { 
        transform: rotate(0deg) translateY(-20px) translateX(125px) rotate(0deg);
    } 
    100% { 
        transform: rotate(360deg) translateY(-20px) translateX(125px) rotate(-360deg);
    }
}
@keyframes ORBIT-9 { 
    0% { 
        transform: rotate(0deg) translateY(20px) translateX(-125px) rotate(0deg);
    } 
    100% { 
        transform: rotate(360deg) translateY(20px) translateX(-125px) rotate(-360deg);
    }
}
@keyframes ORBIT-10 { 
    0% { 
        transform: rotate(0deg) translateY(-20px) translateX(-125px) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg) translateY(-20px) translateX(-125px) rotate(-360deg);
    }
}

.electron-orbital {
    margin: auto;
    border-radius: 50%;
    border: 2px solid rgb(172, 172, 172);
    background-color: transparent;
    grid-column: 1;
    grid-row: 1;
}
#s-orbital-path {
    height: 200px;
    width: 200px;    
}
#s2-orbital-path {
    height: 238px;
    width: 238px;
}
#p2-orbital-path {
    height: 276px;
    width: 276px;
}
#s3-orbital-path {
    height: 314px;
    width: 314px;
}
#p3-orbital-path {
    height: 352px;
    width: 352px;
}
#s4-orbital-path {
    height: 390px;
    width: 390px;
}
#d3-orbital-path {
    height: 428px;
    width: 428px;
}
#p4-orbital-path {
    height: 466px;
    width: 466px;
}
#s5-orbital-path {
    height: 504px;
    width: 504px;
}
#d4-orbital-path {
    height: 542px;
    width: 542px;
}
#p5-orbital-path {
    height: 580px;
    width: 580px;
}
#s6-orbital-path {
    height: 618px;
    width: 618px;
}
#f4-orbital-path {
    height: 656px;
    width: 656px;
}
#d5-orbital-path {
    height: 694px;
    width: 694px;
}
#p6-orbital-path {
    height: 732px;
    width: 732px;
}
#s7-orbital-path {
    height: 770px;
    width: 770px;
}
#f5-orbital-path {
    height: 808px;
    width: 808px;
}
#d6-orbital-path {
    height: 846px;
    width: 846px;
}
#p7-orbital-path {
    height: 884px;
    width: 884px;
}