.atom-details {
    display: grid;
    grid-template-columns: max-content 1fr;
}
.atom-details h1 {
    grid-row: 1;
    grid-column: 1 / span 2;
}
#atom-container {
    grid-row: 2;
    grid-column: 1;
}
#atom-data {
    grid-row: 2;
    grid-column: 2;
}