#atom-graphics {
    height: 220px;
}
#atom {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    margin: auto;
    width: 300px;
    margin-top: 5px;
}
.electron {
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 162, 255);
    box-shadow: 0 0 7px rgb(0, 162, 255);
    z-index: 1;
    transition: 0.5s;
}
#electron-1 {
    animation: ORBIT 3s infinite linear;
}
#electron-2 {
    animation: ORBIT-2 3s infinite linear;
}
#electron-3 {
    animation: ORBIT-3 3.5s infinite linear;
}
#electron-4 {
    animation: ORBIT-4 3.5s infinite linear;
}
#electron-5 {
    animation: ORBIT-5 3.5s infinite linear;
}
#electron-6 {
    animation: ORBIT-6 3.5s infinite linear;
}
#nucleus {
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    width: 40px;
    height: 40px;
    background-color: rgb(212, 13, 13);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.noble-gas-nucleus {
    background-color: blueviolet !important;
}
.alkali-metal-nucleus {
    background-color: orange !important;
}
#ionic-charge {
    z-index: 2;
    grid-row: 1;
    grid-column: 1;
    text-align: right;
    margin-right: 15px;
    font-size: 1.5em;
    color: white;
    /* color: rgb(212, 13, 13); */
}
#ionic-charge-anti-border {
    z-index: 2;
    grid-row: 1;
    grid-column: 1;
    height: 30px;
    width: 25px;
    border-top: 2px solid rgb(97, 97, 97);
    border-right: 2px solid rgb(97, 97, 97);
    margin-left: 245px;
    margin-top: 25px;
}
.alkali-metal-txt { color: orange !important; }
.ghost {
    background-color: transparent;
    border: none !important;
    color: #ffffff; 
    color: rgba(255, 255, 255, 0) !important;
    box-shadow: none;
}

@keyframes ORBIT { 
    0% { 
        transform: rotate(0deg) translateY(100px) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg) translateY(100px) rotate(-360deg); 
    }
}
@keyframes ORBIT-2 { 
    0% { 
        transform: rotate(0deg) translateY(-100px) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg) translateY(-100px) rotate(-360deg); 
    }
}
@keyframes ORBIT-3 { 
    0% { 
        transform: rotate(0deg) translateY(125px) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg) translateY(125px) rotate(-360deg); 
    }
}
@keyframes ORBIT-4 { 
    0% { 
        transform: rotate(0deg) translateY(-125px) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg) translateY(-125px) rotate(-360deg); 
    }
}
@keyframes ORBIT-5 { 
    0% { 
        transform: rotate(0deg) translateX(125px) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg) translateX(125px) rotate(-360deg); 
    }
}
@keyframes ORBIT-6 { 
    0% { 
        transform: rotate(0deg) translateX(-125px) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg) translateX(-125px) rotate(-360deg); 
    }
}
#s-orbital-path {
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid rgb(172, 172, 172);
    background-color: transparent;
    grid-column: 1;
    grid-row: 1;
}
#s2-orbital-path {
    margin: auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid rgb(172, 172, 172);
    background-color: transparent;
    grid-column: 1;
    grid-row: 1;
}