

#ion-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    text-align: center;
    grid-auto-flow: column;
    grid-template-columns: repeat(6, 1fr);
}

#anion-header {
    grid-row: 1;
    grid-column: 1 / span 3;
}

#cation-header {
    grid-row: 1;
    grid-column: 4 / span 3;
}

.ion-box  {
    border: 1px solid black;
    margin: 5px;
}

.ion-box p {
    margin-bottom: 0;
}
.ion-name {
    margin-top: 0;
    padding-bottom: 1em;
}

.ion-col-1 { grid-column: 1; }
.ion-col-2 { grid-column: 2; }
.ion-col-3 { grid-column: 3; }
.ion-col-4 { grid-column: 4; }
.ion-col-5 { grid-column: 5; }
.ion-col-6 { grid-column: 6; }


@media only screen and (max-width: 780px) {

    #ion-table {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .ion-col-4 { grid-column: 1; }
    .ion-col-5 { grid-column: 2; }
    .ion-col-6 { grid-column: 3; }

    #cation-header {
        grid-row: 10;
        grid-column: 1 / span 3;
    }

    .cation-chrg-hdr { grid-row: 11; }
}