* { font-family: 'Sen', sans-serif; }
body { margin: 0; }

button { 
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
    outline: none;
    border-radius: 25px;
}
button:hover {
    cursor: pointer;
    color: rgb(124, 124, 124);
}
button:active {transform: translateY(2px);}

.band {
    position:fixed;
    color: white;
    width: 100%;
}

.nonmetals    { background-color: rgb(154, 153, 35);  }
.actinides    { background-color: rgb(164, 189, 110); }
.alkalimetals { background-color: rgb(237, 156, 49);  }
.al-earth-mtls{ background-color: rgb(138, 100, 53);  }
.halogens     { background-color: rgb(133, 108, 165); }
.lanthanides  { background-color: rgb(203, 117, 162); }
.metalloids   { background-color: rgb(94, 145, 200);  }
.other-metals { background-color: rgb(154, 145, 140); }
.transtn-mtls { background-color: rgb(188, 53, 13);   }

#top { top: 0px; }
#head_contents {
    display: grid;
    grid-template-columns: 1fr 70px;
}
#head_contents > h1 {
    margin-top: 10px;
    text-align: center;
    font-weight: normal;
}
#head_contents > button {
    color: white;
    background-color: transparent;
    border: 3px solid white;
    margin-top: 10px; 
    font-size: 30px;
    padding: 3px;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}
#bottom > button:hover, #head_contents > button:hover {background-color: white; color: rgb(124, 124, 124);}

#bottom {
    position:fixed;
    bottom:0px;
}
#bottom > button {
    color: white;
    margin: 10px;
    background-color: transparent;
    border: 3px solid white;
}
#bottom_text {
    display: inline;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    float: right;
}

.quiz_body { margin-bottom: 180px; }
.quiz_body, #results_page { padding-top: 120px; }
.question, #score, #result {margin: 0px 20px; text-align: center;}
.question_img { width: 100%; max-width: 312px; display: block; margin: auto; margin-top: 10px; margin-bottom: 10px;}

.options {
    margin: 0px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-bottom: 120px;
}
.nmtl > button, .nmtl > #return { border: 3px solid rgb(154, 153, 35 ); }
.actn > button, .actn > #return { border: 3px solid rgb(164, 189, 110);}
.amtl > button, .amtl > #return { border: 3px solid rgb(241, 148, 33 ); }
.aemt > button, .aemt > #return { border: 3px solid rgb(138, 100, 53 ); }
.hlgn > button, .hlgn > #return { border: 3px solid rgb(133, 108, 165);}
.lnth > button, .lnth > #return { border: 3px solid rgb(203, 117, 162);}
.mtld > button, .mtld > #return { border: 3px solid rgb(94,  145, 200); }
.omtl > button, .omtl > #return { border: 3px solid rgb(154, 145, 140);}
.tmtl > button, .tmtl > #return, .tmt2 > button, .tmt2 > #return { border: 3px solid rgb(188, 53,  13 );  }

.selected-nmtl, .nmtl > button:hover, .nmtl > #return:hover { background-color: rgb(180, 179, 96);  color: white; }
.selected-actn, .actn > button:hover, .actn > #return:hover { background-color: rgb(185, 209, 133); color: white; }
.selected-amtl, .amtl > button:hover, .amtl > #return:hover { background-color: rgb(248, 161, 54);  color: white; }
.selected-aemt, .aemt > button:hover, .aemt > #return:hover { background-color: rgba(138, 100, 53, 0.856);  color: white; }
.selected-hlgn, .hlgn > button:hover, .hlgn > #return:hover { background-color: rgba(133, 108, 165, 0.856);  color: white; }
.selected-lnth, .lnth > button:hover, .lnth > #return:hover { background-color: rgba(203, 117, 162, 0.856);  color: white; }
.selected-mtld, .mtld > button:hover, .mtld > #return:hover { background-color: rgba(94, 145, 200, 0.856);  color: white; }
.selected-omtl, .omtl > button:hover, .omtl > #return:hover { background-color: rgba(154, 145, 140, 0.856);  color: white; }
.selected-tmtl, .tmtl > button:hover, .tmtl > #return:hover, .selected-tmt2, .tmt2 > button:hover, .tmt2 > #return:hover { background-color: rgba(188, 53, 13, 0.856);  color: white; }

.correct {
    background-color: rgb(139, 219, 9);
    border: 3px solid rgb(118, 187, 8) !important;
    /* box-shadow: 0 0 8px 0 rgba(128, 202, 8, 0.8); */
}
.incorrect {
    border: 3px solid rgb(182, 0, 0) !important;
    background-color: rgb(223, 0, 0);
    /* box-shadow: 0 0 10px 0 rgba(182, 0, 0, 0.8); */
}

#return {
    display: block;
    margin: auto;
    width: 70%;
    max-width: 300px;
    margin-top: 30px;
}
#results_page > img {
    display: block;
    margin: 30px auto;
}
#results_page {margin-bottom: 170px;}

/* The top band partially covered the question, so the quiz_body
   padding needed to be increased for the smallest screen size,
   hence the first screen catch-point here
 */

@media only screen and (min-width: 292px) {
    .quiz_body { padding-top: 80px; }
}

@media only screen and (min-width: 394px) {
    .quiz_body { margin-bottom: 0px; }
}

@media only screen and (min-width: 670px) {
    #results_page {margin-bottom: 100px;}
    #bottom {
        display: grid;
        grid-template-columns: 170px 1fr 170px;
    }
    #pass {grid-column: 1;}
    #confirm {grid-column: 3;}
    #bottom_text {
        grid-row: 1;
        grid-column: 2;
        text-align: center;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 940px) {

    .quiz_body { 
        display: grid;
        /* grid-template-columns: 50% 50%; */
    }
    .question {
        grid-column: 1;
    }
    .question_img {
        grid-column: 1;
        grid-row: 2;
        max-height: 300px;
    }
    .options { 
        /* grid-column: 2; */
        /* height: 100%; */
        /* grid-row: 1 / span 2; */
        padding: 0px;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 80px;
    }
}