* { font-family: 'Sen', sans-serif; }
body { 
    margin: 0;
}

button { 
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
    outline: none;
    border-radius: 25px;
}
button:hover {
    cursor: pointer;
    color: rgb(124, 124, 124);
}
button:active {transform: translateY(2px);}

.band {
    position:fixed;
    color: white;
    width: 100%;
}

.correct {background-color: rgb(60, 255, 0);}
.incorrect {background-color: rgb(223, 0, 0);}

.nonmetals { background-color: rgb(154, 153, 35); }
.actinides {background-color: rgb(164, 189, 110);}

/* this is still nonmetals colour ... js prolly needs to be fiddled with */
.selected { 
    background-color: rgb(180, 179, 96);
    color: white; 
}

#top { top: 0px; }
#head_contents {
    display: grid;
    grid-template-columns: 1fr 70px;
}
#head_contents > h1 {
    margin-top: 10px;
    text-align: center;
    font-weight: normal;
}
#head_contents > button {
    color: white;
    background-color: transparent;
    border: 3px solid white;
    margin-top: 10px; 
    font-size: 30px;
    padding: 3px;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}
#bottom > button:hover, #head_contents > button:hover {background-color: white; color: rgb(124, 124, 124);}

#bottom {
    position:fixed;
    bottom:0px;
}
#bottom > button {
    color: white;
    margin: 10px;
    background-color: transparent;
    border: 3px solid white;
}
#bottom_text {
    display: inline;
    font-size: 30px;
    margin-top: 15px;
    margin-right: 20px;
    float: right;
}

.quiz_body { margin-bottom: 180px; }
.quiz_body, #results_page { padding-top: 120px; }
.question, #score, #result {margin: 0px 20px; text-align: center;}
.question_img { width: 100%; max-width: 312px; display: block; margin: auto; margin-top: 10px; margin-bottom: 10px;}

.options {
    margin: 0px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-bottom: 120px;
}
.nmtl > button, .nmtl > #return { border: 3px solid rgb(154, 153, 35); }
.actn > button, .actn > #return { border: 3px solid rgb(164, 189, 110);}

.options > button:hover, #return:hover {color: white; }
.nmtl > button:hover, .nmtl > #return:hover {background-color: rgb(180, 179, 96);}
.actn > button:hover, .actn > #return:hover {background-color: rgb(185, 209, 133);}

#return {
    display: block;
    margin: auto;
    width: 70%;
    max-width: 300px;
    margin-top: 30px;
}
#results_page > img {
    display: block;
    margin: 30px auto;
}
#results_page {margin-bottom: 170px;}

/* The top band partially covered the question, so the quiz_body
   padding needed to be increased for the smallest screen size,
   hence the first screen catch-point here
 */

@media only screen and (min-width: 292px) {
    .quiz_body { padding-top: 80px; }
}

@media only screen and (min-width: 394px) {
    .quiz_body { margin-bottom: 0px; }
}

@media only screen and (min-width: 670px) {
    #results_page {margin-bottom: 100px;}
    #bottom {
        display: grid;
        grid-template-columns: 170px 1fr 170px;
    }
    #pass {grid-column: 1;}
    #confirm {grid-column: 3;}
    #bottom_text {
        grid-row: 1;
        grid-column: 2;
        text-align: center;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 940px) {

    .quiz_body { 
        display: grid;
        /* grid-template-columns: 50% 50%; */
    }
    .question {
        grid-column: 1;
    }
    .question_img {
        grid-column: 1;
        grid-row: 2;
        max-height: 300px;
    }
    .options { 
        /* grid-column: 2; */
        /* height: 100%; */
        /* grid-row: 1 / span 2; */
        padding: 0px;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 80px;
    }
}