.slider_div {
    display: none;
    max-width: 700px;
    width: 90%;
    margin: auto;
    margin-top: -5px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    border-radius: 15px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.466);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border: none;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.slider_div p {
    background-color: transparent;
    font-family: 'Sen', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 0px;
}

@media only screen and (min-width: 1000px) {
    .slider {
        border-radius: 15px;
        height: 15px;
        margin-top: 5px;
    }
    .slider::-webkit-slider-thumb {
        width: 30px;
        height: 30px;
    }
    .slider::-moz-range-thumb {
        width: 30px;
        height: 30px;
    }
    .slider_div p {
        font-size: 1.4em;
        line-height: 21px;
    }
}